body {
    font-family: "Roboto", sans-serif;
    height: 100vh;
    margin: 0;
    display: flex;
    flex-direction: column;
    padding: 0px;
}

.header,
.footer {
    background-color: #1f2937;
    min-height: 75px;
    display: flex;
    align-items: center;
    padding: 0px 200px;
}

.header {
    justify-content: space-between;
}

.logo,
button,
.main-text,
.call-to-action,
.footer {
    color: #F9FAF8;

}

.right-side,
.secondary-text,
.subtext {
    color: #E5E7EB;
}

.logo {
    font-size: 24px;
    font-weight: 900;
}

.right-side {
    display: flex;
    font-size: 18px;
    gap: 20px;
}

.hero,
.third-section,
.fourth-section,
.fifth-section {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 72px 200px;
}

.hero {
    background-color: #1f2937;
    justify-content: space-between;
}

.hero-text {
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.main-text {
    font-weight: 900;
    font-size: 48px;
}

.secondary-text {
    font-size: 18px;
}

.third-section {
    color: #1f2937;
    font-size: 36px;
    font-weight: 900;
    flex-direction: column;
    padding-top: 56px;
    gap: 56px;
}

.illustrations {
    display: flex;
    flex-direction: row;
    gap: 72px;
}

.item {
    font-size: 16px;
    text-align: center;
    max-width: 200px;
}

.jonah {
    width: 200px;
    height: 200px;
    border: 2px solid #3882F6;
    border-radius: 12px;
}

.fourth-section {
    background-color: #E5E7EB;
}

.inspirational-quote {
    color: #1f2937;
    text-align: center;
    max-width: 900px;
    font-size: 36px; 
    font-style: italic;
}

.signature {
    font-style: normal;
    font-weight: 700;
    text-align: end;
}

.fifth-section { }

.call-to-action {
    background-color: #3882F6;
    display: flex;
    width: 900px;
    justify-content: space-between;
    padding: 56px 92px;
    border-radius: 8px;

}

.big {
    font-size: 24px;
    font-weight: 900;
}

.subtext {
    font-size: 18px;
}

.call-to-action > button {
    background-color: transparent;
    border: 2px solid #F9FAF8;
}

.footer {
    justify-content: center;
}

img {
    width: 900px;
    height: 300px;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
}

button {
    background-color: #3882F6;
    border: none;
    font-size: 18px;
    border-radius: 8px;
    font-weight: 900;
    padding: 8px 40px;
}